nb/*

checkpoint/*
!checkpoint/README.md

models/*
!models/README.md

data/testing.csv
data/training.csv

output/inputs.csv
output/outputs.csv


app/__pycache__/*
app/infrastructure/__pycache__/*
app/application/__pycache__/*
app/model/__pycache__/*
app/*.pyc

.venv/
.DS_Store/
