nb/*

checkpoint/*
!checkpoint/README.md

models/*
!models/README.md

data/dev-v1.1.json
data/train-v1.1.json
data/vocab.txt
data/train_meta_data

output/inputs.csv
output/outputs.csv


app/__pycache__/*
app/infrastructure/__pycache__/*
app/application/__pycache__/*
app/model/__pycache__/*
app/*.pyc

.venv/
.DS_Store/
